.place-grid {
    margin: 3rem auto;
    width: 70%;
    height: 600px;
    background-color: lightblue;
    position: relative;
}
.place-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    font-size: 1.15rem;
    position: absolute;
    cursor: pointer;
}
.active {
    background-color: green;
}
.non-active {
    background-color: wheat;
}
